* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: rgb(149, 149, 149);
  font-size: 32px;
}

.nav-class {
  display: flex;
  justify-content: space-between;
}
.Login {
  padding-right: 1rem;
  font-size: 1.3rem;
}
.Register {
  padding-right: 1rem;
  font-size: 1.3rem;
}

footer {
  background-color: rgb(149, 149, 149);
  width: 100%;
  height: 1.45rem;
  position: fixed;
  bottom: 0;
}
